body { 
    margin: 0px; 
    padding: 0px; 
    overflow: hidden;
}

.external-links-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

@media (max-width: 768px) {
    .external-links-container {
        flex-direction: column;
        right: 10px;
        top: 60px;
        gap: 15px;
    }
    #main_link {
        top: 50px;
    }
}

#users_count {
    position: fixed;
    left: 20px;
    bottom: 15px;
}

@media (max-width: 768px) {
    #users_count {
        left: 10px;
        bottom: 10px;
    }
}

#more_button {
    display: none;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aadaff;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
}

#progress-bar-container {
    width: 80%;
    max-width: 400px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #FFF;
    transition: width 0.2s;
}

#locationIcon {
    margin-right: -5px;
}

@media (max-width: 768px) {
    #locationIcon {
        margin-right: 0;
        margin-bottom: -3px;
    }
}

#locationSelectionMenu {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#menuBox {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#menuBox h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.regionButton {
    width: 100%;
    padding: 20px;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #aadaff;
    color: white;
    transition: background-color 0.3s ease;
}

.regionButton:hover {
    background-color: #99c2ff;
}

#buttonContainer .regionButton:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#buttonContainer .regionButton:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#buttonContainer .regionButton:not(:first-child):not(:last-child) {
    border-radius: 0;
}

#buttonContainer .regionButton:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
    #menuBox {
        width: 90%;
    }

    #menuBox h2 {
        font-size: 20px;
    }

    .regionButton {
        font-size: 16px;
        padding: 16px 8px;
    }
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 400px;
}
.modal-content p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
}
#reconnectBtn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#reconnectBtn:hover {
    background-color: #0056b3;
}
.reconnectIcon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    animation: pulse 1.5s infinite;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}